html {
  /*background-color: #c7ced8;*/
}

img {
  height: 100px;
}

#sportBox, #mathBox, #fthBox {
  color: black;
  display: inline-block;
  border: 5px solid black;
}
#fthBox:visited{
  color: gold;
  padding-top
}
#sportBox:visited {
  color: gold;
}

#sportBox:visited {
  color: gold;
}

.clearfix {
  content: " ";
  /* Older browser do not support empty content */
  display: block;
  height: 0;
  clear: both;
}

#bigBoard {
  background-color: black;
  height: 100%;
  width: 75%;
  border: 2px solid black;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: rgba(0,0,0,.3);
  text-align: center;
  text-shadow: 3px 2px 1px black;
}

h2, p {
  color: black;
  text-align: center;
}

#gameBoard {
  background-color: inherit;
  height: 90%;
  width: 100%;
  margin: 0 auto;
}

.buttons {
  margin: 0 auto;
  width: 200px;
  background-color: #abebc6;
  border: 2px solid black;
  float: left;
}

#instructions {
  text-align: center;
  margin: 0 auto;
  width: 75%;
}

.button {
  width: 200px;
}

.scoreBoard {
  margin:;
  width: 25%;
  background-color: #abebc6;
  border: 2px solid black;
  float: right;
}

#menu-items{
  margin:0 auto;
  width: 75%;
  height: 100%;
  background-color: blue;
}

#message {
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: white;
  text-shadow: 3px 3px 5px black;
  padding-top: 100px;
  background-color: #d8ecf3;
}

#answers {
  font-size: 30px;
  text-align: center;
  color: white;
  padding-bottom: 100px;
  background-color: #d8ecf3;
}

#p1score {
  background-color: silver;
}

li {
  margin: 0 auto;
  color: BLACK;
  border: 1px solid black;
  width: 40%;
  background-color: white;
}

li:hover {
  background-color: #abebc6;
}

/*removing the stying from the list of answers*/
ul {
  list-style-type: none;
  text-align: center;
}

/*changing the font for "You Guessed It."*/
#messagebox, span{
  font-family: 'Frijole', cursive;
}
#youGuessedIt{
  color: black;
  display: inline;
  background-color: #d8ecf3;
}
