html{
  background-color: black;
}

#bigBoard{
 background-color:yellow;
 height: 500px;
 width : 700px;
 display: inline-block;
 border: 2px solid black;
 float:left;
 margin: 0 auto;

}
h1{
  color:red;
  text-align: center;
}
h2, p{
  color:white;
  text-align: center;
}

#gameBoard{
  background-color: red;
  height: 400px;
  width: 650px;
margin: 0 auto;


}
.buttons{
  margin:0 auto;
  width: 200px;
  background-color: blue;
  border: 2px solid black;
}
#instructions{
  width: 700px;
}
.button{
  display: inline-block;
  

}
